@import 'reset';

body {
  background-color: #EEE;
  font-family: Helvetica, Verdana, sans-serif;
}

h1 {
  font-size: 1.7em;
  margin: 1.5em 0;
}

h2 {
  background-color: #000;
  color: #FFF;
  padding: 5px;
}

p, li {
  margin: 1em 0;
}

ul {
  padding-left: 40px;
}

ul li {
  list-style-type: disc;
}



#app {
  background-color: #FFF;
  margin: 0 auto;
  max-width: 600px;
  padding: 30px;
}

.sample {
  border-top: solid 1px #000;
}
