@import 'reset';

#app {
  padding: 5px;
}

h1 {
  font-size: 1.5em;
  margin: 1.5em 0;
}

nav {
  background-color: #000;
  overflow: auto;
}

nav li {
  float: left;
  margin: 5px 20px 5px 5px;
}

nav a {
  color: #FFF;
  font-family: Helvetica, Verdana, sans-serif;
}
